$primary: #006eff;
$secondary: #ffd900;

@import './node_modules/bootstrap/scss/bootstrap';

@import '/node_modules/intl-tel-input/build/css/intlTelInput.css';

.iti__flag {
  background-image: url('../images/flags.png');
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url('../images/flags@2x.png');
  }
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: rgb(246 246 252);
}

svg {
  margin-bottom: 0.2rem;
}

header {
  background-color: #006eff;
  color: #fff;
}

a {
  --bs-link-color: rgb(113, 113, 113);
}

a:hover {
  color: rgb(206, 205, 204) !important;
}

.cover-container {
  min-height: 100vh;
}

.direct-display {
  display: block !important;
}

.invalid-feedback {
  display: block !important;
}
