$primary: #20252b;
$secondary: #a6a6a3;

@import './node_modules/bootstrap/scss/bootstrap';

@import '/node_modules/intl-tel-input/build/css/intlTelInput.css';

.iti__flag {
  background-image: url('../images/flags.png');
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url('../images/flags@2x.png');
  }
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #3b3b58;
  color: #c6c7c8;
}

svg {
  margin-bottom: 0.2rem;
}

header,
footer {
  background-color: #2e2a32;
  color: #d2d2d2;
}

.form-control,
.form-select {
  background-color: #c6c6c6;
}

a {
  --bs-link-color: rgb(113, 113, 113);
}

a:hover {
  color: rgb(206, 205, 204) !important;
}

.cover-container {
  min-height: 100vh;
}

.direct-display {
  display: block !important;
}

.invalid-feedback {
  display: block !important;
}

.password-box {
  position: relative;
}

.bi-eye-fill {
  position: absolute;
  right: 0.35rem;
  top: 0.35rem;
  color: #3d3b3b;

  :hover {
    cursor: pointer;
  }
}

#userInfoContainer {
  p {
    animation: info 1s forwards;
  }
}

@keyframes info {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
